subfooter {
  font-size: 10px;
  padding-top: 5px;
}
.data {
  color: #000000;
  padding-left: 6px;
}

.space { 
  color: #000000;
  padding-left: 2px; 
}

.link {
	color: #308AF9;
	font-weight: bold;
	text-decoration: underline;
}
#content td {
	font-size: 12px;
	padding-top: 2px;
}
